@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-stroke-4 {
    /* -webkit-text-stroke: 4px #3f3f3f; */
    text-shadow: -3px -3px 0 #3f3f3f, 3px -3px 0 #3f3f3f, -3px 3px 0 #3f3f3f,
      3px 3px 0 #3f3f3f;
  }
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 20, 20, 20;
  --background-end-rgb: 255, 255, 255;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

.listscroll::-webkit-scrollbar {
  display: none;
}
